body {
    padding: 20px;
    margin: 0;
    background-color: rgb(241, 241, 245);
    font-family: 'Raleway';
    background-image: url('../img/text.webp'); 
    background-position: center;    
    background-repeat: repeat; 
    height: 100%;  
}

a {
    text-decoration: none;
    color: rgb(241, 241, 245);
}

h1 {
    /*color: rgb(3, 3, 233);*/
    color: rgb(241, 241, 245);
    font-size: 250%;
    margin: 0px 0px 30px 0px;
}

h2 {
    color: rgb(241, 241, 245);
    text-decoration: underline;
}

/* Para que las imágenes se ajusten a las dimensiones del contenedor */
img {
    width: 100%;
    height: auto;
}

/* -------------------------------------------------- Cabecera ---------------------------------------------- */
.box-properties { 
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(241, 241, 245);   /* desp. x, desp. y, desenfoque, color*/
}

#header {
    border: 1px solid rgb(241, 241, 245);
    padding: 20px 40px 20px 40px;
    height: auto;

    /* La distribución del contenido dentro del header se ha realizado con flexbox*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    /* Si se introduce más contenido en el header, se colocará en una nueva fila */
    justify-content: flex-start;
    align-items: center;
    
    /* Propiedas para poder fijar el video al fondo del contenedor */
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);   /* Para centrar el video */
}

.header-box {
    margin: 10px 20px 10px 50px;
}

#logo {
    width: 150px;
}

#menu {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar {
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar a {
    flex-grow: 1;   /* Para que cada enlace se ajuste al espacio */
    text-align: center;
    font-size: 125%;
    padding-bottom: 5px;

    /* Propiedades para darle el efecto de subrayado a cada menú */
    display: inline-block;  /* subrayado solo ocupa la zona del texto */
    border-bottom: 2px solid transparent;   /* al inicio está transparente*/
    transition: border-bottom 0.3s ease-in-out;    /* efecto suave (comienza y termina lento) */
}

.navbar a:hover {
    border-bottom: 2px solid rgb(241, 241, 245);
}

/* -------------------------------------------------- Main ---------------------------------------------- */
/* -------------------------------------------------- Portada ---------------------------------------------- */
#main {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;   /* strech -> Hijos se ajustan al tamaño del contenedor para que tengan la misma altura */
}

#sidebar {
    width: 25%;
    margin-right: 2%;
    background: rgb(41, 69, 120);
    flex-grow: 1;
    border: 1px solid rgb(241, 241, 245);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;    /* Para que todo el contenido del sidebar este centrado*/
    padding: 10px 0px 15px 0px;
}

.box-links {
    margin: 20px 0px 20px 0px;
    width: 40%;
    text-align: center;     /* Para centrar la img y el p*/
    transition: transform 0.3s ease-in-out;
}

.box-links:hover {
    transform: scale(1.1);
}

.box-links img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.box-links p {
    margin-top: 15px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(241, 241, 245);
}

#films {
    width: 70%;
    height: auto;
    background: rgb(41, 69, 120);
    border: 1px solid rgb(241, 241, 245);
    flex-grow: 10;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto auto auto;
}

.box {
    height: auto;
    margin: 15px;
    background: rgb(241, 241, 245);
    text-align: center;
    color: #ab3948;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    /* Propiedad que permite definir el ratio ancho-alto de los elementos de un contenedor */
    aspect-ratio: 12/16;  
    width: 100%;  
    height: auto;
    border-radius: 10px;
}

.box a {
    text-decoration: none;
    color: #ab3948;
    width: 100%;
}

/* -------------------------------------------------- Película ---------------------------------------------- */
#film {
    width: 70%;
    height: auto;
    background: rgb(41, 69, 120);
    border: 1px solid rgb(241, 241, 245);
    flex-grow: 10;
    padding: 20px;
}

#film-info {
    font-size: 18px;
    color: rgb(241, 241, 245);
}



/* -------------------------------------------------- Footer ---------------------------------------------- */
#footer {
    background: rgb(41, 69, 120);
    border: 1px solid rgb(241, 241, 245);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 245);
    padding: 10px 0px 10px 0px;
}

#footer p {
    margin: 10px 0px 10px 0px;
}