{% extends "principal.html" %}

{% block estilos %}
href="./css/style.css"
{% endblock %}

{% block central %}
<section class="listar-info">
    <table>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Actores</th>
            <th>Género</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Hashtags</th>
            <th>Imagenes</th>
            <th>Acciones</th>
        </tr>

        {% for pelicula in peliculas %}
            <tr id="{{ pelicula.id }}-peli-tabla">
                <th>{{ pelicula.titulo }}</th>
                <th>{{ pelicula.director }}</th>
                <th>{{ pelicula.actores }}</th>
                <th>{{ pelicula.genero }}</th>
                <th>{{ pelicula.descripcion }}</th>
                <th>{{ pelicula.fecha }}</th>
                <th>
                    {% for hashtag in pelicula.hashtags %}
                        {{ hashtag }}
                    {% endfor %}
                </th>
                <th>
                    {% for img in pelicula.imgs %}
                        {{ img }}
                    {% endfor %}
                </th>
                <th>
                    <div>
                        <div id="editarPeli" class="btn-accion" data-id="{{ pelicula.id }}">
                            <a href="./editar_peli.php?idPeli={{ pelicula.id }}">
                                Editar
                            </a>
                        </div>
                        <div id="eliminarPeli" class="btn-accion" data-id="{{ pelicula.id }}">
                            <a href="./eliminar_peli.php?idPeli={{ pelicula.id }}">
                                Eliminar
                            </a>
                        </div>
                        <div id="agregarHashtag" class="btn-accion" data-id="{{ pelicula.id }}">
                            <a href="./agregar_hashtag.php?idPeli={{ pelicula.id }}">
                                Añadir hashtag
                            </a>
                        </div>
                        <div id="agregarImg" class="btn-accion" data-id="{{ pelicula.id }}">
                            <a href="./agregar_img.php?idPeli={{ pelicula.id }}">
                                Añadir img
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
        {% endfor %} 
    </table>
</section>
{% endblock %}