{% extends "datos_usuario.html" %}

{% block datos %}
<h2>Modificar datos</h2>

<form id="login-form" action="./modificar_datos.php" method="post">
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <p id="msg-email"></p>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password">

    <button type="submit" class="login-btn">Actualizar</button>

    <p id="msg-error-form" data-mensaje="{{ mensaje }}">{{ mensaje }}</p>
</form>
{% endblock %}
