{% extends "principal.html" %}

{% block estilos %}
href="./css/style.css"
{% endblock %}

{% block opciones %}
    {% if rolUsuario == "admin" or rolUsuario == "gestor" %}
        <a href="./agregar_peli.php">Agregar película</a>
    {% endif %}
{% endblock %}

{% block central %}
<section id="films" class="box-properties">
    {% for pelicula in peliculas %}
        <div class="box">
            <a href="./pelicula.php?idPeli={{ pelicula.id }}"><img src="{{ pelicula.ruta }}" alt="interstellar-film">
                <p>{{ pelicula.titulo }}</p>
            </a>
        </div>
    {% endfor %}
</section>
{% endblock %}