{% extends "principal.html" %}

{% block estilos %}
href="./css/style.css"
{% endblock %}

{% block central %}
<section class="listar-info">
    <div class="campo-busqueda">
        <label for="search-titulo">Búsqueda por título:</label>
        <input type="text" id="search-titulo" placeholder="Título">
    </div>

    <div class="campo-busqueda">
        <label for="search-descripcion">Búsqueda por descripción:</label>
        <input type="text" id="search-descripcion" placeholder="Descripción">
    </div>

    <table id="tabla-peliculas">
        <thead>
            <tr>
                <th>Título</th>
                <th>Director</th>
                <th>Actores</th>
                <th>Género</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Hashtags</th>
                <th>Imagenes</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {# Se renderizan las filas de la tabla desde tabla_pelis.html #}
            {% include "tabla_pelis.html" %}
        </tbody>
    </table>
</section>
{% endblock %}