{% extends "principal.html" %}

{% block estilos %}
href="./css/style.css"
{% endblock %}

{% block central %}
<section id="film" class="box-properties">
    <div id="film-info">
        <div class="imgs-film">
            {% for img in imgs %}
                <img src="{{ img.ruta }}" alt="interstellar-2" class="box-properties">
            {% endfor %}
        </div>

        <h2>{{ pelicula.titulo }}</h2>
        <p>Género: {{ pelicula.genero }}</p>
        <p>Director: {{ pelicula.director }}</p>
        <p>Actores: {{ pelicula.actores }}</p>
        <p>{{ pelicula.descripcion }}</p>
        <p>{{ pelicula.descripcion }}</p>
        <p>{{ pelicula.descripcion }}</p>
    </div>

    <div id="buttons">
        <a href="#"><img src="./img/youtube.png" alt="youtube"></a>
        <a href="#"><img src="./img/instagram.png" alt="instagram"></a>
        <a href="./imprimir.php"><img src="./img/imprimir.png" alt="imprimir"></a>
        <a id="btnComents"><img src="./img/coments.png" alt="coments"></a>
    </div>
</section>

<section id="coments">
    <div id="listComents" comentJSON="{{ comentarios }}">

    </div>

    <div id="form" palProhJSON="{{ palabrasProh }}">
        <p>Añade un comentario</p>

        <form action="./pelicula.php?id={{ pelicula.id }}" method="POST">
            <label for="name">Nombre:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">E-mail:</label><br>
            <input type="text" id="email" name="email"><br>
            <p id="msg-email"></p><br>
            <label for="txtComent">Comentario:</label><br>
            <textarea id="txtComent" name="txtComent" rows="10" cols="70"></textarea><br><br>
            <input id="btnEnviar" type="submit" value="Enviar">
        </form>
    </div>

    <div id="modal">
        <div class="modal-content">
            <!-- &times; es una entidad que representa una X (cerrar ventana) -->
            <span class="cerrar">&times;</span>
            <p>Los campos nombre, email y comentario no pueden estar vacíos</p>
        </div>
    </div>
</section>

{% endblock %}