{% extends "principal.html" %}

{% block estilos %}
href="./css/style-impr.css"
{% endblock %}

{% block central %}
<section id="film" class="box-properties">
    <div id="film-info">
        <div class="imgs-film">
            <img src="./img/interstellar-2.webp" alt="interstellar-2" class="box-properties">
            <img src="./img/interstellar-1.webp" alt="interstellar-1" class="box-properties">
        </div>

        <h2>Interstellar</h2>
        <p>Año: 2014</p>
        <p>Género: Ciencia Ficción</p>
        <p>Director: Christopher Nolan</p>
        <p>Actores: Matthew McConaughey, Anne Haithaway, David Gyasi</p>
        <p>Al ver que la vida en la Tierra está llegando a su fin, un grupo de exploradores dirigidos
            por el piloto Cooper (McConaughey) y la científica Amelia (Hathaway) emprende una misión
            que puede ser la más importante de la historia de la humanidad: viajar más allá de nuestra
            galaxia para descubrir algún planeta en otra que pueda garantizar el futuro de la raza humana.
        </p>
        <p>Al ver que la vida en la Tierra está llegando a su fin, un grupo de exploradores dirigidos
            por el piloto Cooper (McConaughey) y la científica Amelia (Hathaway) emprende una misión
            que puede ser la más importante de la historia de la humanidad: viajar más allá de nuestra
            galaxia para descubrir algún planeta en otra que pueda garantizar el futuro de la raza humana.
        </p>
        <p>Al ver que la vida en la Tierra está llegando a su fin, un grupo de exploradores dirigidos
            por el piloto Cooper (McConaughey) y la científica Amelia (Hathaway) emprende una misión
            que puede ser la más importante de la historia de la humanidad: viajar más allá de nuestra
            galaxia para descubrir algún planeta en otra que pueda garantizar el futuro de la raza humana.
        </p>

    </div>

    <div id="buttons">
        <a href="#"><img src="./img/youtube.png" alt="youtube"></a>
        <a href="#"><img src="./img/instagram.png" alt="instagram"></a>
        <a href="pelicula_imprimir.html"><img src="./img/imprimir.png" alt="imprimir"></a>
    </div>
</section>
{% endblock %}